@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

body, html {
  height : 100%;
  
  font-family : sans-serif;
}

// setting base styles to image containers
[id*="bg__"] {
  height: 50vh;

  //text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

#bg__foo {
  background-image: url('../images/parallax1.jpg');
}

#bg__bar {
  background-image: url('../images/parallax2.jpg');
}

#bg__baz {
  background-image: url('../images/parallax3.jpg');
}

#bg__bazz {
  height: 100vh;

  background-image: url('../images/parallax1.jpg');
}

/**
 *  Top Artists
 *
 *
 */
#parallax {

  #bg__foo {

    .top_title {
      color: #fff;
      //float: left;
      margin: 0 auto;
      padding-top: 30px;
      width: 200px;
    }

    .top_wrap {
      margin: 0 auto;
      width: 780px;

      .top_one,
      .top_two,
      .top_three {
        background-color: #ffff00;
        float: left;
        height: 240px;
        margin-right: 20px;
        width: 240px;
      }
    }
  }

  #bg__bar {

    .vs_wrap {
      margin: 0 auto;
      width: 1300px;
    }

    .art_left,
    .art_right {
      //background-color: #ffff00;
      box-shadow: inset 0 0 1em #111;
      float: left;
      height: 493px;
      overflow: auto;
      width: 500px;
    }

    .vs {
      color: #ff0000;
      float: left;
      font-size: 130px;
      margin: 0 55px;
      padding-top: 360px;
    }
  }

  #bg__baz {
      
  }
}
